<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Amadon</title>
</head>
<body>
    <h1 class="display-4">Thank you for your business!</h1> 
    <p class="lead">We charged your credit card for $ {{new_order.total_price}}.</p>
    <p class="lead">You have ordered {{new_order.quantity_bought}} items so far and spent $$ with Amadon.com!</p>
    <p><a href="/">Go Back</a></p>
</body>
</html>